$heading-color: #a7b5d3;
$photo-size: 500px;
$pic-size: 300px;

.bio {
	&-photo {
    width: $photo-size;
    max-width: 100%;
    height: $photo-size;
    border: 5px solid $heading-color;
    border-radius: 50%;
    display: block;
    object-fit: none;
    object-position: top center;
    margin-left: auto;
  	margin-right: auto;
  }
  &-contact-img {
    width: $pic-size;
    max-width: 100%;
    height: $pic-size;
    border: 5px solid $heading-color;
    border-radius: 50%;
    display: block;
    object-fit: none;
    object-position: bottom center;
    margin-left: auto;
    margin-right: auto;
  }
  &-posts-img {
    width: $pic-size;
    max-width: 100%;
    height: $pic-size;
    border: 5px solid $heading-color;
    border-radius: 50%;
    display: block;
    object-fit: none;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
  }
}