@import "nav";
@import "image";

$background-color: #d3e1e8;
$paragraph-width: 40em;
$breakpoints: 55em;

body {
  background: $background-color;
}

.bio {
  font-family: Avantgarde, sans-serif;
  &-head {
  	text-align: center;
    background: $heading-color;
  }
  &-iconbar {
    text-align: center;
    display: block;
    margin-top: 20px;
    &-link {
      &-soc-med {
        height: 50px;
        width: 50px;
      }
    }
  }
  &-body {
    margin-top: 20px;
    padding: 10px;
    border: 8px double $heading-color;
  }
  &-article {
    margin-top: 20px;
    padding: 10px;
    border: 8px double $heading-color;
  }
}

@media only screen and (min-width: nth($breakpoints, 1)) 
{
	body {
		margin-left: 20%;
  		margin-right: 20%;
	}
}